@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos da página */
body {
  background-color: #222;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 20px;

}

header {
  background-color: #333;
  padding: 20px 0;  
  display: flex;
  justify-content: center;
}

.nav_1 ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_1 li {
  margin-right: 20px;
}

.nav_1 a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 200ms ease-in-out;
  padding: 5px;
  border-radius: 5px;
}

.nav_1 a:hover {
  background-color: white;
  color: black;
}
.nav_2 ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_2 li {
  margin-right: 20px;
}

section h2 {
  font-size: 24pt;
  transform: translateY(-100%);
  margin-top: 180px;

}
.img_perfil{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  transition: 200ms ease-in-out;
  object-fit: cover;
  top: -100px;
  float:left;
  margin-right: 30px;

}
.img_fundo{
  object-fit: cover;
  width: 100vw;
  height: 200px;

}
.txt_sm{
  font-size: 14pt;
}
.icon{
  width: 40px;
  height: 40px;
}
